include README.md
include LICENSE
include pyproject.toml
include lacuna/_version.txt
recursive-include lacuna *.py
recursive-include lacuna *.yaml
recursive-include lacuna *.json
recursive-exclude tests *
recursive-exclude examples *
recursive-exclude docs *
